.slider__item {
    max-width: 100%;
    height:700px;
}

.slider__item-01 {
    background: linear-gradient(rgb(141, 149, 198), rgba(237, 238, 239, 0.72));
    background: url("../../assets/images/person-holding-bmw-steering-wheel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__slider {
    overflow: hidden;
}

.slider__content {
    padding-top: 150px;
}

.slider__content h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.reserve__btn {
    background: #fff !important;
    color: #176b00 !important;
    border: none;
    outline: none;
}

.reserve__btn a {
    text-decoration: none;
    font-weight: 600;
    color: #000d6b;
}

.reserve__btn:hover {
    background: #000d6b;
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .slider__item {
        height: 530px;
        max-width: 100vw;
    }

    .slider__content {
        margin-top: -50px;
    }

    .slider__content h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .slider__item {
        height: 450px;
    }

    .slider__content h1 {
        font-size: 1.5rem;
    }
}


.find__cars-left h2 {
    font-weight: 600;
    font-size: 2.8rem;
}

.form__group {
    width: 30%;
    margin-bottom: 0;
}

.form__group input {
    border: 1px solid #7c8a972a;
    padding: 8px 12px;

    width: 100%;
    outline: none;
}
.form__group input::placeholder {
    color: #7c8a97;
}

.select__group {
    width: 30%;
}

.select__group select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #7c8a972a;
    outline: none;
    color: #7c8a97;
}

.hero__slider-section {
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
}

















.hero__form {
    position: relative;
    bottom: 80px;
    z-index: 11;
    width: 100%;
}

.form__row {
    background: #ffffff;
    box-shadow: 5px 5px 15px -5px #7c8a97;
}

.journey__time::before {
    content: "Journey time";
    margin-right: 0.8rem;
    color: #7c8a97;
}

.find__car-btn {
    background: #000d6b !important;
    color: #fff !important;
    padding: 8px 15px;
    width: 100%;
    border: none;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .find__cars-left {
        padding-top: 20px;
        padding-bottom: 0;
        background: #fff;
        text-align: center;
    }

    .form {
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 576px) {
    .form__group {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }

    .form__group input {
        font-size: 0.7rem !important;
    }

    .select__group {
        width: 100%;
        padding-right: 10px;
        font-size: 0.7rem;
    }

    .find__car-btn {
        font-size: 0.8rem;
    }

    .find__cars-left h2 {
        font-size: 1rem;
    }

    .hero__form {
        bottom: -250px;
    }
}













.find__cars-left {
    background: linear-gradient(rgba(130, 196, 192, 0.7), rgba(164, 255, 156, 0.7)),
    url("../../assets/images/person-holding-bmw-steering-wheel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 35px;
}

.find__cars-left h2 {
    font-weight: 600;
    font-size: 2.8rem;
}

.form__group {
    width: 30%;
    margin-bottom: 0;
}

.form__group input {
    border: 1px solid #7c8a972a;
    padding: 8px 12px;

    width: 100%;
    outline: none;
}
.form__group input::placeholder {
    color: #7c8a97;
}

.form {
    background: #4a3e3e;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.select__group {
    width: 30%;
}

.select__group select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #7c8a972a;
    outline: none;
    color: #7c8a97;
}

.hero__slider-section {
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
}


.form__row {
    background: #fff;
    box-shadow: 5px 5px 15px -5px #7c8a97;
}

.journey__time::before {
    content: "Journey time";
    margin-right: 0.8rem;
    color: #7c8a97;
}

.find__car-btn {
    background: #bf0b76 !important;
    color: #fff !important;
    padding: 8px 15px;
    width: 100%;
    border: none;
    outline: none;
}

@media only screen and (max-width: 992px) {
    .find__cars-left {
        padding: 65px 22px;
    }

    .find__cars-left h2 {
        font-size: 1.5rem;
    }

    .form {
        padding: 30px 10px;
    }

    .form__group input,
    .select__group select {
        padding: 7px 10px;
        font-size: 0.8rem;
    }

    .hero__form {
        bottom: -100px;
    }
}

.main_div{
    padding-top: 50px;
}
